* {
  box-sizing: border-box;
}


form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 0.5px solid grey;
  width: 50%;
  background: #f1f1f1;
}

form.search button {
  width: 10%;
  padding: 10px;
  background:darkslateblue;
  color: white;
  font-size: 17px;
  border: 0.5px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

div.stars {
  margin-left:5%;
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.reviews
{
  margin-top:1%;
  background-color:black;
  padding:1%;
}