{% extends "layout.html" %}
{% block main %}
<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
    <form class="search" align="center" action="#" method='POST'>
        <select name="searchBy" style="height:46px;width:10%;">
            <option value="book" selected>Book</option>
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
        </select>      
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>
</div>
{% endblock %}